.body_backgorund 
{
    background-image:url('firework.gif');
}

#myCanvas
{
    border-width: 10px;
    background-color: white;
    border-style: ridge;
    border-color: darkviolet;
}

#hi
{
    background-color: deeppink;
    font-family: "lobster";
    font-size: 30px;
    color: black;
}